/vendor/
/bin/*
bin/*
/bin/shinobi.phar
!bin/shinobi
!/bin/shinobi
/.env
/.idea/
/.vscode/
/node_modules/
/var/
/composer.lock
/.gemini
/packages/*
packages/*
!/packages/packages.json
!packages/packages.json
